@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* VARIABLES */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 30px;
}

.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(200, 183, 240);
  color: rgb(105, 36, 36);
  padding: 20px 0 20px 0;
  font-family: arial;
  cursor: pointer;
  /*  RESPONSIVE A 540PX */
}
.navbar a {
  text-decoration: none;
  color: inherit; /* COLOR DE SU PADRE */
}
.navbar a:visited { /* si he visitado, me mantiene color de su padre*/
  color: inherit;
}
.navbar a:hover { /* si pongo ratón encima me cambia a amarillo*/
  color: yellow;
}
.navbar .logo {
  padding-left: 20px;
  margin-right: 100px;
}
.navbar .menu .list {
  list-style: none;
  display: flex;
  column-gap: 30px;
}
.navbar #toggler, .navbar label {
  display: none;
  align-items: center;
  cursor: pointer;
  padding-right: 20px;
}
@media screen and (max-width: 480px) {
  .navbar {
    position: fixed; /* ponemos fijo el nav */
    top: 0px;
    /* Al hacer click en el toggle, transladamos en el eje X el div a su posición original (de normal estaba -100vw a su izda (fuera de visión), ahora pasa hacia la derecha a su estado de visualización */
  }
  .navbar .menu {
    width: 100%;
    height: 100vh; /* que ocupe todo el alto */
    background-color: rgb(200, 183, 240);
    position: fixed; /* ponemos fijo el menú */
    top: 58.4px;
    z-index: 10; /*  */
    transform: translateX(-100%); /* que se mueva a su izd su ancho total */
    transition: 0.2s;
  }
  .navbar .menu .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    column-gap: 0px;
    row-gap: 30px;
  }
  .navbar label {
    display: inline-flex;
  }
  .navbar #toggler:checked ~ .menu {
    transform: translateX(0); /* que se mueva a su derecha su ancho total */
  }
}

.contenido {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
  border: 2px dashed rgb(73, 73, 73);
  padding: 20px;
  font-size: 20px;
  /*  RESPONSIVE A 540PX */
}
.contenido h1 {
  font-size: 30px;
}
.contenido p {
  color: chocolate;
}
.contenido img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media screen and (max-width: 480px) {
  .contenido {
    margin-top: 78px;
  }
}

.ejemplo {
  margin: 30px auto;
  padding: 20px;
  width: 80%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
}
.ejemplo .hijo {
  width: 150px;
  height: 150px;
  background-color: rgb(235, 160, 22);
  color: white;
  font-size: 100px;
  font-family: arial;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ejemplo .hijo:first-child { /* el primer hijo */
  background-color: aqua;
}
.ejemplo .hijo:nth-child(5) { /*  el hijo número 5 */
  background-color: green;
}
.ejemplo .hijo:last-child { /* el último hijo */
  background-color: black;
}
.ejemplo .hijo:nth-child(odd) { /* hijos impares */
  color: rgb(145, 26, 46);
}
.ejemplo .hijo:nth-child(even) { /*  hijos pares */
  color: blue;
}
.ejemplo .hijo:nth-child(4n) { /* referencia a los hijos 4, 8, 12, etc */
  border: 10px solid black;
}
.ejemplo .hijo:nth-child(5n+3) { /* empezando por el 3 y cada 5 hijos: 3, 8, 13, 18, etc */
  border: 10px dashed grey;
}
.ejemplo .hijo:nth-last-child(3) { /* el tercer hijo empezando por atrás */
  border-radius: 20px;
}

.ejemplo2 {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  color: rgb(0, 122, 230);
  font-size: 60px;
}
.ejemplo2 div { /* REFERENCIA A TODOS LOS DIV, INCLUIDOS NIETOS */
  color: white;
  background-color: cadetblue;
}
.ejemplo2 > div { /* REFERENCIA SÓLO A LOS DIV HIJOS DIRECTOS, NO A SUS NIETOS */
  width: 300px;
  height: 300px;
  background-color: black;
}
.ejemplo2 ~ div { /* referencia a todos los hermanos DIV que tenga a continuación, en este caso a los div .ejemplo3 y .ejemplo4*/
  background-color: red;
  width: 200px;
  height: 200px;
}
.ejemplo2 + div { /* referencia SÓLO al siguiente DIV hermano que tenga a continuación, en este caso al div .ejemplo3 */
  background-color: blue;
}/*# sourceMappingURL=style.css.map */